<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="form-control" formControlName="name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="imagePath">Image</label>
                        <input type="file" id="imagePath" class="form-control" formControlName="imagePath" #imagePath
                            (change)="changeFile($event)">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <img [src]="imagePath.value" alt="" class="img-fluid">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea type="text" id="description" class="form-control" rows="6"
                            formControlName="description"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button [disabled]="!postForm.valid" type="submit" class="btn btn-success m-1">Save</button>
                    <button type="button" class="btn btn-danger m-1" (click)="onCancel()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>